#profile-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  .greetings-message {
    font-size: 48px;
    font-weight: 500;
    margin-top: 58px;
    margin-left: 109px;

    .greetings-firstname {
      color: $mainColor;
    }
  }

  .congrats-message {
    font-size: 18px;
    line-height: 24px;
    margin-top: 41px;
    margin-left: 109px;
    margin-bottom: 77px;
  }
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-template-rows: 320px 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 109px;
  margin-right: 90px;
  max-width: 1440px;

  .charts-activity-container {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000005;
    width: 100%;
  }

  .charts-b,
  .charts-c,
  .charts-d {
    aspect-ratio: 1;
    max-width: 258px;
    width: 100%;
    max-height: 258px;
    border-radius: 5px;
  }

  .charts-b {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #ff0000;
  }
  .charts-c {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #282d30;
  }
  .charts-d {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #fbfbfb;
  }
  .charts-e {
    grid-area: 1 / 4 / 3 / 5;
    max-width: 258px;
  }
}

// Aspect ratio doesn't work on Firefox, so I had to do some math to get
@-moz-document url-prefix() {
  .charts-b,
  .charts-c,
  .charts-d {
    height: calc(
      154.5px + min(calc(100vh - 780px), calc(100vw - 1024px)) * 0.25
    );
    width: calc(
      154.5px + min(calc(100vh - 780px), calc(100vw - 1024px)) * 0.25
    );
  }
}

// @media screen and (min-width: 1440px) {
//   #profile-container {
//     .greetings-message {
//       margin-left: 109px;
//     }

//     .congrats-message {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }
