@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* Utils */
/* Root */
html,
body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin-block-start: unset;
  margin-block-end: unset; }

#app-content {
  margin-left: 117px;
  margin-top: 91px;
  margin-bottom: 50px; }

#profile-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; }
  #profile-container .greetings-message {
    font-size: 48px;
    font-weight: 500;
    margin-top: 58px;
    margin-left: 109px; }
    #profile-container .greetings-message .greetings-firstname {
      color: #e60000; }
  #profile-container .congrats-message {
    font-size: 18px;
    line-height: 24px;
    margin-top: 41px;
    margin-left: 109px;
    margin-bottom: 77px; }

.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-template-rows: 320px 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 109px;
  margin-right: 90px;
  max-width: 1440px; }
  .charts-container .charts-activity-container {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000005;
    width: 100%; }
  .charts-container .charts-b,
  .charts-container .charts-c,
  .charts-container .charts-d {
    aspect-ratio: 1;
    max-width: 258px;
    width: 100%;
    max-height: 258px;
    border-radius: 5px; }
  .charts-container .charts-b {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #ff0000; }
  .charts-container .charts-c {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #282d30; }
  .charts-container .charts-d {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #fbfbfb; }
  .charts-container .charts-e {
    grid-area: 1 / 4 / 3 / 5;
    max-width: 258px; }

@-moz-document url-prefix() {
  .charts-b,
  .charts-c,
  .charts-d {
    height: calc( 154.5px + min(calc(100vh - 780px), calc(100vw - 1024px)) * 0.25 );
    width: calc( 154.5px + min(calc(100vh - 780px), calc(100vw - 1024px)) * 0.25 ); } }
/* Layout */
header {
  display: flex;
  height: 91px;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
  box-shadow: 0px 4px 4px #00000040;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header #header-logo {
    width: 178px;
    height: 60.93px;
    margin-left: 28px;
    margin-top: 2.5px; }
  header .header-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px; }
    header .header-link:last-child {
      margin-right: 87px; }

#sidebar {
  position: fixed;
  min-height: 100%;
  width: 117px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000040;
  z-index: 50; }
  #sidebar #sidebar-links-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #sidebar #sidebar-links-container .sidebar-link {
      width: 64px;
      height: 64px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      margin-bottom: 20px; }
      #sidebar #sidebar-links-container .sidebar-link:last-child {
        margin-bottom: unset; }
      #sidebar #sidebar-links-container .sidebar-link .sidebar-link-icon {
        width: 32px; }
  #sidebar .copyright-text {
    color: #fff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: center;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    margin-bottom: 59px; }

/* Components */
.activity-legend-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: 24px; }
  .activity-legend-container .activity-legend-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px; }
  .activity-legend-container .activity-legend-payload-list {
    display: flex; }
    .activity-legend-container .activity-legend-payload-list .activity-legend-payload-block {
      margin-right: 32px; }
      .activity-legend-container .activity-legend-payload-list .activity-legend-payload-block:last-child {
        margin-right: unset; }
      .activity-legend-container .activity-legend-payload-list .activity-legend-payload-block .activity-legend-payload-pin {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%; }
      .activity-legend-container .activity-legend-payload-list .activity-legend-payload-block .activity-legend-payload-value {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #74798c; }

.tooltip-box {
  background-color: #e60000;
  color: #ffffff;
  padding: 4px 12px; }
  .tooltip-box .tooltip-label {
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 7px; }
    .tooltip-box .tooltip-label:last-of-type {
      margin-bottom: unset; }

.counter-card {
  background-color: #fbfbfb;
  height: 124px;
  display: flex;
  border-radius: 5px; }
  .counter-card .counter-card-icon-block {
    display: flex;
    border-radius: 6px;
    margin: 32px;
    margin-right: 24px;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center; }
    .counter-card .counter-card-icon-block .counter-card-icon {
      width: 20px; }
  .counter-card .counter-card-content {
    margin-top: 39px; }
    .counter-card .counter-card-content .counter-card-value {
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left; }
    .counter-card .counter-card-content .counter-card-label {
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #74798c;
      margin-top: 2px; }

@media screen and (max-width: 1290px) {
  .counter-card {
    height: 114px; }
    .counter-card .counter-card-icon-block {
      margin: 28px;
      margin-right: 18px;
      height: 50px;
      width: 50px; }
      .counter-card .counter-card-icon-block .counter-card-icon {
        width: 20px; }
    .counter-card .counter-card-content {
      margin-top: 32px; }
      .counter-card .counter-card-content .counter-card-value {
        font-size: 18px;
        line-height: 22px; }
      .counter-card .counter-card-content .counter-card-label {
        font-size: 12px;
        line-height: 22px;
        margin-top: 2px; } }
@media screen and (max-width: 1180px) {
  .counter-card {
    height: 90px; }
    .counter-card .counter-card-icon-block {
      margin: 24px;
      margin-left: 16px;
      margin-right: 16px;
      height: 42px;
      width: 42px; }
      .counter-card .counter-card-icon-block .counter-card-icon {
        width: 18px; }
    .counter-card .counter-card-content {
      margin-top: 28px; }
      .counter-card .counter-card-content .counter-card-value {
        font-size: 14px;
        line-height: 20px; }
      .counter-card .counter-card-content .counter-card-label {
        font-size: 10px;
        line-height: 20px;
        margin-top: 2px; } }
#counter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.performance-chart .recharts-layer .recharts-polar-angle-axis-tick {
  font-size: 14px; }

@media screen and (max-width: 1250px) {
  .performance-chart .recharts-layer .recharts-polar-angle-axis-tick {
    font-size: 12px; } }
@media screen and (max-width: 1150px) {
  .performance-chart .recharts-layer .recharts-polar-angle-axis-tick {
    font-size: 10px; } }
@media screen and (max-width: 1050px) {
  .performance-chart .recharts-layer .recharts-polar-angle-axis-tick {
    font-size: 8px; } }
.score-title {
  position: absolute;
  margin-top: 24px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 15px; }

@media screen and (max-width: 1350px) {
  .score-title {
    margin-top: 20px;
    margin-left: 26px; } }
@media screen and (max-width: 1200px) {
  .score-title {
    margin-top: 16px;
    margin-left: 20px; } }
@media screen and (max-width: 1100px) {
  .score-title {
    margin-top: 12px;
    margin-left: 14px; } }
.sessions-title {
  position: absolute;
  width: 120px;
  margin-left: 34px;
  margin-top: 8px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff80; }

.sessions-tooltip {
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center; }

@media screen and (max-width: 1150px) {
  .sessions-title {
    margin-top: 4px;
    margin-left: 18px; } }

/*# sourceMappingURL=index.css.map */
